# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/

# Django specific
*.sqlite3
*.log
*.pot
*.pyc
*.jpeg

db.sqlite3
staticfiles/

# VS Code
.vscode/

# Environment Variables
.env

# OS-specific
.DS_Store
Thumbs.db

#Additional Folders
mall-frontend
media
user-photos
*.jpeg


*.pt
*.lock

venv3
*.mp4
*.mkv
*.pt